---
layout: default
---

<div class="home">
  {% include header.html %}
  {% include information.html %}
  {% include contributors.html %}
  {% include facebook.html %}
  {% include archive.html %}
  {% include events.html %}
  {% include live_stream.html %}

  <!-- {% include archive.html %} -->
  <!-- <div class="resize-drag"> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLBileoQE-4PQSEl-yL-oeyxSD74Lyh7f_" frameborder="0" allowfullscreen></iframe>  </div> -->
</div>
