<div id="archive-panel" class="archives resize-drag ">
  <div id="archive-close" class="close-button"> x </div>
  <div id="archive-collapse" class="collapse-button"> - </div>
  <div id="archive-expand" class="expand-button"> + </div>
  <div class="window-heading">Archive</div>

  <div class="archives-inner resize-drag-inner scrollbar-inner">
    <ul class="archive-list">
      {% for archive in site.archives %}
      <div class="archive-header">
        <div>{{ archive.title }}</div>
      </div>
      <!-- <iframe width="300" class="youtube-video" src="https://www.youtube-nocookie.com/embed/{{archive.youtube_url}}?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
      <img class="temp-img" src="{{archive.youtube_url}}"/>
      <div class="archive-date">{{ archive.date }}</div>
      <a target="_blank" class="archive-link" href="{{archive.location_url}}">{{ archive.location }}</a>
      <div class="archive-description">{{ archive.content }}</div>
      <div class="separator"></div>
      {% endfor %}
    </ul>
  </div>
</div>
