  <div class="draggable social-media">
  <div class="window-heading">Social Media Feed</div>
  <div class="social-media-container"> 
    <div class="facebook-iframe"> 
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FParallelForThinking&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=1660150024250174" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>
  </div>

