<div id="information-panel" class="resize-drag information ">

  <div class="window-heading">Information</div>
  <div class="resize-drag-inner information-inner scrollbar-inner">
    <div class="information-text">
      <p>
        Parallel _ For Thinking is a platform committed to hosting and transmitting events in parallel to existing networks, industries and institutions to create a community for sourcing, promoting and distributing thinking and Culture associated within Architecture, Arts, Philosophy, Fashion, Literature and General Culture. We intend to create a space that is a catalyst for a new culture committed to establishing an international discourse through sharing ideas and discussion across the world; providing access to material and ideas previously limited to small groups of people, eliminating a minority like effect typically associated with thinking.
      </p>
      <p>
        Over the next six months, our residency in the Nicholas Building in Melbourne’s CBD will generate, collate and archive content physically and digitally, through events including discussions, exhibitions, workshops and screenings, all of which will be live-streamed directly to the Parallel Website For Thinking.
      </p>
    </div>
    <!-- <div> -->
  <!-- <div class="information__sub-heading">Contact</div> -->
  <!-- <div class="information__email">info@pft.website</div> -->
  <!-- </div> -->
  <!-- <div> -->
  <!-- <div class="information__sub-heading">Social Networks</div> -->
  <!-- <div class="information__social-media">Facebook</div> -->
  <!-- <div class="information__social-media">Twitter</div> -->
  <!-- <div class="information__social-media">Instagram</div> -->
  <!-- </div> -->
  <!-- <div> -->
  <!-- <div class="information__sub-heading">Newsletter</div> -->
  <!-- <div class="information__newsletter-info"> -->
  <!-- To subscribe to our newsletter please enter your email address below: -->
  <!-- </div> -->
  <!-- <input class="information__newsletter-input"> -->
  <!-- </input> -->
  <!-- </div> -->
  </div>
</div>
