<div id="information-panel" class="resize-drag information ">

  <div id="information-close" class="close-button"> x </div>
  <div id="information-collapse" class="collapse-button"> - </div>
  <div id="information-expand" class="expand-button"> + </div>
  <div class="window-heading">Information</div>
  <div class="resize-drag-inner information-inner scrollbar-inner">
    <div class="information-text">
      <p>
        Parallel _ For Thinking is a platform committed to hosting and transmitting events around thinking and Culture, in parallel to existing networks, industries and institutions.
      </p>

      <p>
        Parallel _ For Thinking attempts to create a community; a platform for sourcing, promoting and distributing thinking and Culture associated within Architecture, Arts, Philosophy, Fashion, Literature and General Culture.
      </p>

      <p>
        Crucial to the Parallel _ For Thinking platform is the creation of the Parallel Space For Thinking, a six month residency in the Nicholas Building in Melbourne’s CBD. To create this community our platform emphasises two-way format events such as discussions whereby the speaker and the audience are constantly exchanging thinking, unlike the one-way lecture format whereby the audience merely listens.
      </p>

      <p>
        Over this six month period The Parallel Space For Thinking will generate, collate and archive content physically and digitally. This will be done through various events including discussions, exhibitions, workshops and screenings, all of which will be live-streamed directly to the Parallel Website For Thinking.
      </p>

      <p>
        The intention is to create a space that is a catalyst for a new culture. This culture is committed to establishing an international dialogue and discourse through sharing ideas and discussion across the world.
      </p>

      <p>
        The role of Parallel _ For Thinking is to provide access to material and ideas previously limited to small groups of people, eliminating a minority like effect typically associated with thinking. This will help us create a newer, larger culture that sees thinking as accessible and interesting.
      </p>

      <p>
        Parallel _ For Thinking will be supported by a network of contributors, collaborators, sponsors and donors. Together, we will be committed to establishing a strong community for transmitting and communicating thinking across the boundaries and constraints of location, language and socio-economic positions.    </div>
      </p>
    </div>
    <!-- <div> -->
  <!-- <div class="information__sub-heading">Contact</div> -->
  <!-- <div class="information__email">info@pft.website</div> -->
  <!-- </div> -->
  <!-- <div> -->
  <!-- <div class="information__sub-heading">Social Networks</div> -->
  <!-- <div class="information__social-media">Facebook</div> -->
  <!-- <div class="information__social-media">Twitter</div> -->
  <!-- <div class="information__social-media">Instagram</div> -->
  <!-- </div> -->
  <!-- <div> -->
  <!-- <div class="information__sub-heading">Newsletter</div> -->
  <!-- <div class="information__newsletter-info"> -->
  <!-- To subscribe to our newsletter please enter your email address below: -->
  <!-- </div> -->
  <!-- <input class="information__newsletter-input"> -->
  <!-- </input> -->
  <!-- </div> -->
  </div>
</div>
