<div class="nav-container">
  <div class="nav">
    <div class="nav-input"> <input id="archive" checked=true  type="checkbox">Archive</input></div>
    <div class="nav-input"> <input id="information" checked=true  type="checkbox">Information</input></div>
    <div class="nav-input"> <input id="social-media" checked=true  type="checkbox">Social Media Feed</input></div>
    <div class="nav-input"> <input id="contributors" checked="true "class="nav-input" type="checkbox">Contributors</input></div>
    <div class="nav-input"> <input id="events" "class="nav-input" type="checkbox">Events</input></div>
  </div>

</div>
