.archive-link:visited {
  color: black;
  text-decoration: underline;
}

.archive-link {
  color: black;
  text-decoration: underline;
}

.archive-header {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 21px;
}

.archive-description {
  padding-left: 16px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.archives {
  width: 400px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  right: 27px;
  top: 200px;
}

.archive-list {
}