.archive-link:visited {
  color: black;
  text-decoration: underline;
}

.archive-date {
  margin-top: 10px;
}

.archive-link {
  color: black;
  text-decoration: underline;
}

.archive-header {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 22px;
  line-height: 22px;
  padding-top: 21px;
}

.archive-description {
  padding-left: 16px;
  padding-right: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.archives {
  width: 470px;
  height: 420px;
  right: 23%;
  top: 192px;
}

.archives-inner {
  overflow: scroll;
  overflow-x: hidden;
  height: 380px;
}
