.contributors {
  z-index: -1;
  top: 400px!important;
  left: 33%;
  top: 600px;
  height: 340px;
  width: 350px;
}

.contributor-table {
  padding: 20px;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden!important;
  word-wrap: break-word;
  height: 300px;
}
.contributor-link {
  text-decoration: underline;
}

.contributor-heading{
  text-align: left;
  font-weight: normal;
}
table {
  border-collapse:collapse;
  width: 91%;
  table-layout: fixed;
  margin-left: 16px;
}

thead {
  border-bottom:1px solid black!important;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 20px;
    color: transparent;
}