.information-text {
  margin: 20px;
  margin-top: 40px;
}

.information {
  width: 400px;
  height: 400px;
  margin-top: 200px;
}

.home {
  margin-top: 56px;
  
}

.window-heading {
  margin-top: 5px;
  text-align: center;
  color: #858585;
  padding-bottom: 7px;
  padding-top: 3px;
}

.pft-header {
  padding: 30px;
  font-size: 30px;
}

.social-media {
  right: 154px;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* min-height: 200px; */
}
.social-media-container {
  overflow: hidden;
  padding-top: 25px;
  height: 406px;
}

.facebook-iframe {
  position: relative;
  top: -93px;  
}


.wrap {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 200px;
}

.wrap::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

.right ul {
    position: absolute;
    top: 100%;
    left: 0;
}