.resize-drag {
  border: 1px solid black;
  background: white;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px;
  margin: 30px 20px;
  /* This makes things *much* easier */
  box-sizing: border-box;
}